<p id="notice"><%= notice %></p>






<table class="table table-hover table-bordered">
  <thead class="text-center">
    <tr class="bg-primary text-white">
      <th>Name</th>
      <th>Race</th>
      <th>Birthdate</th>
      <th>Owner</th>
      <th>Visitas</th>
      <th>Registro de Visitas</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @pets.each do |pet| %>
      <tr>
      <td><%= link_to pet.name, pet %></td>
        <td><%= pet.race %></td>
        <td><%= pet.birthdate %></td>
        <td><%= pet.client.name%></td>
        <td><%= pet.history_count%></td>
        
        <td>
        <% pet.pet_histories.each do |history|%>
          <li> <%= history.created_at%></li>

        <% end %>
        </td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New Pet History', new_pet_pet_history_path(pet)%></td>
      </tr>
    <% end %>
  </tbody>
</table>


